@import '../../assets/common/common.css';

.chat-setting-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100vw;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
}

.conversation-situation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
    width: fit-content;
}

.input-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px;
    margin: 3px 0;
}

.input-group.column {
    flex-direction: column;
}

.input-group label{
    padding-right: 10px;
    width: fit-content;
}

.input-group input {
    margin: 0;
    padding: 0;
}

.title textarea, .description textarea {
    width: 500px;
    background-color: transparent;
}



.input-error-inner {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}


.participant-number {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    align-items: flex-start;
}

/* .participant-number input {
    width: 50px;
} */

.error{
    font-size: 10px;
    color: red;
}

.participants-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    width: 100%;
    align-items: center;
    width: fit-content;
    gap: 15px;
    margin-bottom: 15px;
}

.participant-input-container {
    display: flex;
    flex-direction: column;
    margin: 5px;
    border-radius: 10px;
    width: 250px;
    box-sizing: border-box;
}





.submit-button, .next-button, .fill-auto-button {
    align-self: flex-end;
}

button.fill-auto-button{
    color: white;
    background-color: rgb(25, 118, 210);
}


.back-button {
    align-self: flex-start;
}

.setting-confirm-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}



.setting-confirm-content dt{
    font-size: 14px;
}

.participant-card-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}



.participant-card-container {
    display: grid;
    flex-direction: row;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: 20px 0;
}


