@import '../../assets/common/common.css';

.participant-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.selected {
    background-color: rgb(255, 255, 100);
}

.siloutte-image{
    width: 100px;
    padding: 5px;
}

.comment, .no-comment {
    width: 100%;
    height: 30px;
}
