@import '../../assets/common/common.css';

.participant-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.selected {
    background-color: rgb(255, 255, 100);
}

.comment-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 50px;
    max-width: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: flex-end;
    background-color: aliceblue;
    border: 1px solid black;
}



.comment, .no-comment {
    width: 100%;
    height: 30px;
}

.participant-without-comment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
}


.participant-reactions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.participant-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.siloutte-image{
    width: 100px;
    padding: 5px;
}

.selected{
    background-color: rgb(255, 255, 100);
}
