@import '../../assets/common/common.css';

.participant-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.selected {
    background-color: rgb(255, 255, 100);
}

.comment-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 5px;
    max-height: 75px;
    width: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #E9E9E9;
    border: 1px solid black;
    border-radius: 10px;

    /* &::-webkit-scrollbar  {
        width: 10px;
        height: 100%;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb{
        border-radius: 5px;
        background-color: rgba(225,225,225,0.2);
    } */
}

.comment {
    width: 100%;
}

.participant-without-comment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
}


.participant-reactions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 30px;
}

.participant-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.siloutte-image{
    width: 100px;
    padding: 5px;
}

.selected{
    background-color: rgb(255, 255, 100);
}
