@import '../../assets/common/common.css';


.participant-setting-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 20px;
    background-color: #fff7d8;
    border: 3px solid #ffeec3;
    border-radius: 15px;
}

.participant-setting-inner {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.input-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px;
    margin: 3px 0;
}

.input-group.column {
    flex-direction: column;
}

.input-group label{
    padding-right: 10px;
    width: fit-content;
}

.input-group input {
    margin: 0;
    padding: 0;
    background-color: white;
}

.input-group div{
    padding:0;
    margin:0;
}

.input-group textarea {
    margin: 0;
    padding: 5px;
    width: 400px;
}

button.open-default-button{
    border-radius: 5px;
    background-color: rgb(25, 118, 210);
    color: white;
    margin-left: auto;
}

.participant-scroll {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin: 5px;
}

.participant-selector-wrapper {
    display: flex;
    flex-direction: column;
    color: black;
    width: 100%;
    margin-top: 10px;
    gap: 10px;
    
    & h3 {
        margin: 0;
    }
}

.participant-selector-list {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    gap: 2px;
}

