@import '../../assets/common/common.css';

.plot-area-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    width: 1000px;
    /* min-width: 800px; */
}

.plot-area-item {
    border: 1px solid #ccc;
    box-sizing: border-box;
}