@import '../../assets/common/common.css';

.plot-area-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    max-width: 1000px;
    min-width: 800px;
}

.plot-area-item {
    width: 500px;
    height: 400px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}